.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* .users__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 15px;
    border: 1px solid black;
}

.users {
     
} */

.posts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 15px;
    border: 1px solid black;
    background-color: red;
}

.posts {
    background-color:aqua;
}

.posts ul {
    background-color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    text-transform: none;
}

.posts li {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    margin: 10px 0;
}

.posts li button {
    width: 100px;
    height: 20px;
    background-color: yellow;
    color: black;
    border-radius: 3px;
}